@import "tailwindcss";

:root {
  --background: #ececec;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-cedarville-cursive: var(--font-cedarville-cursive);
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
